.viewport {
    overflow: scroll !important;
}


.zoom {
    transform: scale(200%) translate(0%, 20%);
}

/*
.right-menu {
    width: 10vw !important;
}

.center-menu {
    flex-grow: 1;
}

*/

.player-bar,
#netui_window_video_control_bar_window_content{
    margin: 0 !important;
    width: 100% !important;
    padding: 0 !important;
}

.viewport-svg > text{
    pointer-events: none;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}

#keypoint_name_previewer {
    background-color: rgba(0.5, 0.5, 0.5, 0.1) !important;
    border-radius: 5px;
    pointer-events: none;
}

.minify-svg > svg > line {
    stroke: rgba(88, 51, 255, 0.153);
    stroke-width: 1;
}

.green_svg > svg > line {
    stroke: rgba(79, 185, 70, 0.3) !important;
}

.minify-svg > svg > circle {
    r: 2px;
    fill: rgba(93, 247, 75, 0.194)
}

.viewport-img-container {
    width: 100%;
}

#viewport-img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    user-select: none;
}

#netui_window_thumbnail_window_content > * > * > * > *{
    font-size: 2rem;
}

.CursorShower {
    pointer-events: none;
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: transparent;
    z-index: 10000;
    border: 2px solid white;
    height: 30px;
    width: 30px;
}

#ZSkipSizeDisplay {
    margin: 5px;
    padding: 5px;
    font-size: 0.8rem;
}

.force-green{
    color: #4FB946 !important;
    accent-color: #4fb946 !important;
}


.force-magenta{
    color: #B046B9 !important;
    accent-color: #B046B9 !important;
}

.viewport-img-container {
    width: 100%;
}

.netui-multicombo-ul > * > *{
    font-size: 1rem;
}

.ZCam {
    border-radius: 15px;
}

#ExtendedCameraController > ul > li:not(:last-child) {
    margin-bottom: 5px;
}

#ZImageSliders * {
    font-size: 1.5rem;
}

#ZImageSliders {
    height: 100%;
    overflow-y: scroll;
    box-shadow: inset 0 -10px 10px -5px rgba(0, 0, 0, 0.5); /* Bottom shadow */
}

#ZImageSliders.scrolled {
    box-shadow: inset 0 -10px 10px -5px rgba(0, 0, 0, 0.8), /* Stronger shadow */
                inset 0 10px 10px -5px rgba(0, 0, 0, 0.8);
}


#ZImageSliders > div:not(:first-child){
    padding-top: 1rem;
}
#ZImageSliders > div > div:last-child {
    padding-left: 0.25rem;
}

.netui-topdown-label {
    transition: all 0.3s ease; /* Smooth transition for both scale and color */
    transform: scale(1);
    color: black;
}

.netui-topdown-label:hover {
    transform: scale(3);
    color: white;
    z-index: 3;
}

.netui-topdown-label:hover ~ .netui-topdown-label {
    color: black;
}